.env
__pycache__/
*.pyc
*.pyo
logs/*.log
logs/*.out
*.tmp
.DS_Store

# frontend
frontend/node_modules/
frontend/dist/
frontend/.astro/
frontend/marxist-ai
frontend/public/data/marx/
frontend/public/data/engels/
frontend/public/data/lenin/
frontend/public/data/stalin/
frontend/public/data/index.json
